@import url('assets/css/zero-styles.scss');

body {
    background-color: #E5E5E5;
    font-family: 'MPL';
    overflow-x: hidden;
    overflow-y: hidden;
}


@font-face {
    font-family: 'MPL';
    src: url('assets/fonts/MPLUS1Code-VariableFont_wght.ttf');
    font-weight: 600;
}
